mixin quiz-result()
	-
		const data = {


		}
	.quiz__form.quiz__result.is-next
		.feed-dog-catalog-body
			a.feed-dog-catalog-body__img(href='/katalog/korm-dlya-koshek/losos-i-ris/')
				img(src='/img/content/Cat_salmon_ 1.png' alt='Фото упаковки корма Сириус с лососем для кошек ')
			.feed-dog-catalog-body__title
				h2 SIRIUS
			.feed-dog-catalog-body__text
				p Сухой корм для взрослых кошек «Лосось и рис»
			.feed-dog-catalog-body__weight
				p 10 кг, 1.5 кг, 0.4 кг
			.feed-dog-catalog-body__link
				a(href='/katalog/korm-dlya-koshek/losos-i-ris/') Подробнее
		.feed-dog-catalog-body
			a.feed-dog-catalog-body__img(href='/katalog/korm-dlya-koshek/myasnoy-ratsion/')
				img(src='/img/content/Cat_meat_ 1.png' alt='Фото упаковки корма Сириус "Мясной рацион" для кошек ')
			.feed-dog-catalog-body__title
				h2 SIRIUS
			.feed-dog-catalog-body__text
				p Сухой корм для взрослых кошек «Мясной рацион»
			.feed-dog-catalog-body__weight
				p 10 кг, 1.5 кг, 0.4 кг
			.feed-dog-catalog-body__link
				a(href='/katalog/korm-dlya-koshek/myasnoy-ratsion/') Подробнее
