* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}
.quiz {
	&__wrapper {
		position: relative;
		overflow: hidden;
		padding: 0 5px;
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #6a3f24;
		margin-bottom: 40px;
	}
	&__subtitle {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #6a3f24;
		max-width: 663px;
	}
	&__nav {
		&-list {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-column-gap: 20px;
			margin: 30px 0;
			list-style: none;
			@include vp-767 {
				grid-column-gap: 10px;
			}
		}
		&-link {
			display: inline-flex;
			align-items: center;
			width: 100%;
			height: 25px;
			padding: 10px 0;
			font-size: 0;
			line-height: 0;
			&-stripe {
				width: 100%;
				height: 100%;
				background-color: #eeeeee;
				border-radius: 5px;
				transition: background-color $trans-default;
			}
			&--current & {
				&-stripe {
					background-color: #fe4e8e;
				}
			}
		}
	}
	&__form {
		position: relative;
		visibility: visible;
		opacity: 1;
		pointer-events: all;
		transition: all $trans-600;
		transform: translateX(0);
		&.is-previous {
			transform: translateX(-500%);
			position: absolute;
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
		}
		&.is-next {
			transform: translateX(500%);
			position: absolute;
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
		}
		&-row {
			display: inline-flex;
			position: relative;
			&-col {
				display: flex;
				justify-content: space-between;
				align-items: center;
				&:not(:last-of-type) {
					margin-right: 20px;
				}
			}
		}
		&-title {
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			color: #fe4e8e;
			margin-bottom: 40px;
		}
		&-toggles {
			margin-bottom: 60px;
			@include vp-992 {
				flex-wrap: wrap;
			}
			&-item:not(:last-of-type) {
				margin-right: 20px;
				@include vp-767 {
					margin-bottom: 10px;
				}
			}
		}
		.custom-toggle {
			width: 180px;
			height: 40px;
			padding: 0;
			&--radio {
				label {
					width: 100%;
					height: 100%;
					border-radius: 5px;
					display: flex;
					align-items: center;
					padding-left: 45px;
				}
				.custom-toggle__icon {
					border-radius: inherit;
					width: 100%;
					height: 100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					border: 0;
					outline: 1px solid rgba(106, 63, 36, 0.3);
					transition: outline $trans-default;
					&::before {
						display: none;
					}
				}
				.custom-toggle__label {
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
					color: #6a3f24;
					white-space: nowrap;
					
				}
			}
		}
		.custom-toggle--radio input:checked + .custom-toggle__icon {
			border: 0;
			outline: 1px solid #d9397d;
		}
		&-btn {
			background: #cdc1b2;
			border-radius: 5px;
			flex: 0 0 30px;
			width: 30px;
			height: 30px;
			padding: 0;
			margin: 0;
			font-size: 26px;
			line-height: 1;
		}
		&-input {
			width: fit-content;
			padding: 0;
			label {
				input {
					width: 100%;
					max-width: 30px;
					min-height: 30px;
					margin: 0 15px;
					padding: 5px;
					border: 0;
					border-bottom: 1px solid #cdc1b2;
					border-radius: 0;
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
					text-align: center;
					color: #6a3f24;
				}
			}
		}
		.custom-select {
			width: 100%;
			max-width: 180px;
			padding: 0;
			flex: 0 0 180px;
			&__placeholder {
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				color: #6a3f24;
			}
			&__button {
				height: 30px;
				border-radius: 0;
				border: 0;
				border-bottom: 1px solid #cdc1b2;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				color: #6a3f24;
			}
			&__icon {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 5px 0 5px;
				border-color: #6a3f24 transparent transparent transparent;
				background-color: $color-transparent;
				clip-path: none;
			}
			&__list {
				bottom: -1px;
				background: #ffffff;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
				border: 0;
			}
			&__item {
				padding: 10px 20px;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				color: #6a3f24;
				&:hover,
				&:focus-visible {
					background-color: rgba(237, 228, 222, 0.5);
				}
			}
			&__item[aria-selected="true"] {
				background-color: #ede4de;
				&:hover,
				&:focus-visible {
					background-color: rgba(237, 228, 222, 0.5);
				}
				&::after {
					content: "✓";
					color: #6a3f24;
					position: absolute;
					right: 10px;
					font-size: 18px;
				}
			}
		}
		&-disclaimer {
			max-width: 580px;
			background: #ffffff;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
			border-radius: 10px;
			padding: 20px;
			display: flex;
			position: absolute;
			top: 50%;
			left: auto;
			right: 150px;
			transform: translateY(50%);
			transition: all $trans-default;
			// visibility: hidden;
			// opacity: 0;
			// user-select: none;
			&.is-active {
				visibility: visible;
				opacity: 1;
			}
			@include vp-1192 {
				right: 0;
			}
			@include vp-992 {
				position: initial;
			}
			&-icon {
				display: inline-block;
				margin-right: 20px;
			}
			&-text {
				display: inline-block;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				color: #6a3f24;
			}
		}
		&-submit {
			display: flex;
			margin: 90px 0 0 0;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			letter-spacing: 0.0357143em;
			color: #d9397d;
			width: 100%;
			max-width: 200px;
			transition: all $trans-default;
			background-color: $color-default-white;
			border: 1px solid #d9397d;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.15);
			border-radius: 2px;
			@media (hover: hover), screen and (min-width: 0\0) {
				&:hover,
				&:focus {
					color: $color-default-white;
					background-color: #d9397d;
				}
			}
		}
		.custom-input {
			label {
				input {
					color: #6a3f24;
					&::placeholder {
						color: #6a3f24;
					}
					&:hover {
						border: 0;
						border-bottom: 1px solid rgba(254, 78, 142, 0.8);
					}
					&:focus,
					:focus-visible {
						border: 0;
						border-bottom: 1px solid rgba(254, 78, 142, 0.5);
					}
				}
			}
			&__label {
				color: #6a3f24;
			}
		}
		&--01 {
			.custom-input.is-invalid input {
				border: 0;
				outline: 1px solid #ff1553;
			}
			.custom-input__error {
				min-width: 125px;
				font-size: 14px;
				bottom: -22px;
				left: -26px;
			}
			.custom-select.is-invalid .custom-select__button {
				border: 0;
				outline: 1px solid #ff1553;
			}
			.custom-select__error {
				font-size: 14px;
				bottom: -22px;
			}
		}
		&--01 & {
			&-warning {
				position: absolute;
				width: 230px;
				padding: 10px;
				background-color: #fff;
				z-index: 5;
				top: 40px;
				left: 0;
				border-radius: 5px;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				color: #6a3f24;
				transition: opacity $trans-default;
				visibility: hidden;
				opacity: 0;
				&.is-active {
					visibility: visible;
					opacity: 1;
				}
				&::before {
					content: "";
					position: absolute;
					top: auto;
					left: 52px;
					bottom: 38px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 7.5px 10px;
					border-color: transparent transparent #fff;
				}
			}
			&-check {
				&--male {
					.custom-toggle__icon {
						background: url(./../img/svg/icon-male.svg);
					}
				}
				&--female {
					.custom-toggle__icon {
						background: url(./../img/svg/icon-female.svg);
					}
				}
				.custom-toggle__icon {
					background-position: 17px center;
					background-repeat: no-repeat;

				}
			}
		}
		&--02,
		&--03,
		&--04 {
			.custom-toggle {
				height: 180px;
				@include vp-477 {
					width: 132px;
					height: 132px;
				}
				&--radio {
					label {
						flex-direction: column;
						align-items: center;
						justify-content: flex-end;
						padding-left: 0;
					}
					.custom-toggle__label {
						margin-bottom: 18px;
						@include vp-477 {
							margin-bottom: 13px;
						}
					}
				}
			}
		}
		&--02 & {
			&-toggles {
				margin-bottom: 0;
			}
			&-check {
				&--cat {
					.custom-toggle__icon {
						background: url(./../img/svg/cat.svg);
						@include vp-477 {
							background-position: center 28px;
						}
					}
				}
				&--dog {
					.custom-toggle__icon {
						background: url(./../img/svg/dog.svg);
						@include vp-477 {
							background-position: center 21px;
						}
					}
				}
				.custom-toggle__icon {
					background-position: center 30px;
					background-repeat: no-repeat;
					@include vp-477 {
						background-size: 50% 50%;
					}
				}
			}
			&-submit {
				margin: 40px 0 0;
			}
		}
		&--03 & {
			&-toggles {
				margin-bottom: 0;
			}
			&-check {
				&--small {
					.custom-toggle__icon {
						background: url(./../img/svg/pet-small.svg);
						background-position: center 80px;
						@include vp-477 {
							background-position: center 58px;
						}
					}
				}
				&--middle {
					.custom-toggle__icon {
						background: url(./../img/svg/pet-middle.svg);
						background-position: center 58px;
						@include vp-477 {
							background-position: center 41px;
						}
					}
				}
				&--big {
					.custom-toggle__icon {
						background: url(./../img/svg/pet-big.svg);
						background-position: center 26px;
						@include vp-477 {
							background-position: center 18px;
						}
					}
				}
				.custom-toggle__icon {
					background-repeat: no-repeat;
					@include vp-477 {
						background-size: 50%;
					}
				}

			}
			&-submit {
				margin: 40px 0 0;
			}
		}
		&--04 & {
			&-toggles {
				margin-bottom: 0;
			}
			&-check {
				&--yes {
					.custom-toggle__icon {
						background: url(./../img/svg/checked-circle.svg);
					}
				}
				&--not {
					.custom-toggle__icon {
						background: url(./../img/svg/unchecked-circle.svg);
					}
				}
				.custom-toggle__icon {
					background-position: center 44px;
					background-repeat: no-repeat;
					@include vp-477 {
						background-size: 40%;
						background-position: center 32px;
					}
				}
			}
			&-disclaimer {
				top: 20px;
				@include vp-1192 {
					max-width: 500px;
				}
				@include vp-992 {
					max-width: 580px;
				}
			}
			&-submit {
				margin: 40px 0 0;
				@include vp-992 {
					margin: 80px 0 0;
				}
			}
		}
		&--05 {
			.custom-input {
				width: 100%;
				max-width: 180px;
				padding: 0;
				margin-bottom: 60px;
				label {
					input {
						width: 100%;
						min-height: 30px;
						margin-left: 0;
						padding: 5px;
						border: 0;
						border-bottom: 1px solid #cdc1b2;
						border-radius: 0;
					}
				}
				&__label {
					order: 1;
					margin: 0 0px 0 -15px;
				}
				&__error {
					bottom: -25px;
					left: 0;
				}
			}
			.custom-toggle {
				&--radio {
					width: fit-content;
					@include vp-477 {
						height: auto;
					}
					label {
						padding: 10px;
						justify-content: center;
					}
					.custom-toggle__label {
						@include vp-477 {
							white-space: initial;
						}
					}
				}
			}
		}
		&--05 & {
			&-toggles {
				margin-bottom: 0;
				&-item {
					&:not(:last-of-type) {
						@include vp-992 {
							margin-bottom: 20px;
						}
					}
				}
			}
			&-check {
				background: none;
			}
			&-submit {
				margin: 40px 0 0;
			}
		}
		&.quiz__result {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-column-gap: 20px;
			grid-row-gap: 40px;
			@include vp-992 {
				grid-template-columns: 1fr 1fr;
				justify-items: center;
			}
			@include vp-477 {
				grid-template-columns: auto;
			}
		}
	}
}

// Эти стили есть на проекте. Не брать при переносе на прод

.page {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding-top: 165px;
	@include vp-1192 {
		padding-top: 95px;
	}
}

.feed-dog-catalog-body {
	max-width: 380px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	@include vp-992 {
		max-width: 295px;
	}
}

.feed-dog-catalog-body__img {
	padding: 0 0 20px 0;
}

.feed-dog-catalog-body__img img {
	max-width: 100%;
	border: 1px solid #ede4de;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	@include vp-992 {
		width: 294px;
		height: 356px;
	}
}

.feed-dog-catalog-body__title h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #6a3f24;
}

.feed-dog-catalog-body__text {
	min-height: 48px;
	max-width: 280px;
}

.feed-dog-catalog-body__text p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #6a3f24;
}

.feed-dog-catalog-body__weight {
	padding: 30px 0 0 0;
}

.feed-dog-catalog-body__weight p {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #6a3f24;
}

.feed-dog-catalog-body__link {
	padding: 30px 0 50px 0;
}

.feed-dog-catalog-body__link a {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 0.0357143em;
	color: #6a3f24;
	padding: 11px 65px;
	background: #ede4de;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.24);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
	text-transform: uppercase;
}