//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/quiz
include ./blocks/quiz-form-01
include ./blocks/quiz-form-02
include ./blocks/quiz-form-03
include ./blocks/quiz-form-04
//- include ./blocks/quiz-form-05
//- include ./blocks/quiz-form-06

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
